body{
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    color: #bde22b;
    background-color: #000000;
} 
article{
    background-color: #655c5c;
    color: white;
    padding:45;
    margin:45;
    border-radius:5%;
}  

