/*
selector syntax
selectortype{
    propertype:propertvalue;
}
 /* */

 /* 
    1.Element selector
  */
/* p{
    color: red;
}

h2{
    color: white;
    background-color: black;
} */

/* id selector */

/* #pid1{
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#pid2{
    color: brown;
    font-family:cursive;
} */



/* class Selectors */

/* .highlighter{
    color: aqua;
    background: red;
}

.paragraph{
    font-family: cursive;
} */


/* Nested Selectors
Nested selectors Applying same style to the mutiple tags ata a time
#pid1,.paragraph,h2{
    color: brown;
} */


/* 
    Specificity Order(highest Priority)
    >>ID >>Class >> Element
 */



/* #pid1{
    color: blue;
} */
/* 
.paragraph{
    color: aqua;
}

p{
    color: red;
} */


/* Universal selectors */

/* *{
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
} */


/* Descendant  selectors */

/* #Descendant p{
    color: brown;
} */


/*Direct Child Selector  */

#Directsel > p{
    color: brown;
}