*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}

.container{
    height: 400px;
    border: 2px solid red;
    display: flex;
    /* flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse; */
    flex-direction: row;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    /* gap: 10px; */
    /* row-gap: 10px;
    column-gap: 10px; */
    flex-flow:wrap row ;

}

.box{
    border: 2px solid green;
    margin: 10px;
    width: 80px;
}

#box-1{
    order: 1;
    /* flex-grow: 1; */
    flex-shrink: 4;
}